.trending {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}

.card-3 {
  display: flex;
  flex-direction: column;
  flex: 0.78;
  width: 100%;
  color: white;
  overflow: hidden;
}
.cardFlex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}
.card-1 {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  width: 100%;
  overflow: hidden;
  padding: 0.5rem;
  color: white;
  max-height: 20rem;
  overflow-y: auto;
}

.card-1::-webkit-scrollbar {
  width: 5px;
}
.card-1::-webkit-scrollbar-track {
  background-color: black;
}
.card-1::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.column {
  display: flex;
  flex-direction: column;
}
.mobile {
  display: none;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
}
.itemTitle {
  display: flex;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  font-size: 18px;
}
.col {
  display: flex;
  flex-direction: column;
  color: white;
}
.modalTitle {
  display: flex;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
}
.chart {
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
}
/* Media Query */

@media screen and (min-width: 1300px) and (max-width: 1600px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (min-width: 1050px) and (max-width: 1300px) {
  .card-1 {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }
  .card-1 {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }
  .card-1 {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
  .mobile {
    display: flex;
    flex-direction: row;
  }

  .desktop {
    display: none;
  }
  .cardFlex {
    flex-wrap: wrap;
  }

  .card-3 {
    flex: 1;
  }
  .card-1 {
    padding: 0.5rem;
    min-height: 20rem;
  }
  .trending {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .mobile {
    display: flex;
    flex-direction: row;
  }

  .desktop {
    display: none;
  }
  .cardFlex {
    flex-wrap: wrap;
  }

  .card-3 {
    flex: 1;
  }
  .card-1 {
    padding: 0.5rem;
    min-height: 20rem;
  }
  .trending {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .cardFlex {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .card-3 {
    flex: 1;
  }
  .card-1 {
    padding: 0.5rem;
    min-height: 20rem;
  }
  .trending {
    flex-direction: column;
  }
}
