@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./shared/buttons.css");
@import url("./shared/home.css");
@import url("./shared/event.css");
@import url("./shared/song.css");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --black: #000000;
  --orange: linear-gradient(to right, #cc2900, #ff4e02);
  --green: linear-gradient(to right, #008000, #5b845a);
}

a {
  text-decoration: none;
  color: inherit;
  background: inherit;
}

.appContainer {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

.contentsRight {
  flex-grow: 1;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 0.87;
  padding: 0.5rem 2rem;
  height: 100vh;
  background: var(--black);
  justify-content: space-between;
}

.pageContents {
  display: flex;
  flex-direction: column;
  /* min-height: 50vh; */
  color: white;
}

.uploadForm {
  background: white;
  color: black;
  padding: 2rem;
}

.check {
  padding: 0.5rem 2rem;
}

.colorYellow {
  color: yellow;
}
.textBlack {
  color: #000000;
}

/* Media Query */

@media screen and (min-width: 1300px) and (max-width: 1600px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (min-width: 1050px) and (max-width: 1300px) {
  .contentsRight {
    flex: 1;
  }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
  .appContainer {
    flex-direction: column;
  }

  .contentsRight {
    flex: 1;
  }
}

@media screen and (max-width: 700px) {
  .appContainer {
    flex-direction: column;
  }

  .contentsRight {
    flex: 1;
  }
}

@media screen and (max-width: 550px) {
  .appContainer {
    flex-direction: column;
  }

  .contentsRight {
    flex: 1;
  }
}
